header{
    position: absolute ;
    top:0;
    width: 100%;
    margin: -10px;
    margin-bottom: 100px;
    background-color: rgb(52, 52, 253);
}

header a:link,header a:visited{
    color: rgb(248, 248, 248);
    border-width:3px; 
    border-style:solid; 
    border-color:rgb(169, 122, 3);
    background-color: rgb(249, 177, 0);
    padding: 1px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

header a:hover {
    background-color: rgb(122, 87, 0);
}

.sidebar{
        position: fixed;
        margin-top: 10px;
        width: 100px; 
        height: 500px;
        background-color: #44f;
}


.presentacion{
    padding-top: 70px;
}

.texto-presentacion{
    margin-left: 10px;
}

.container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links{
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    position: fixed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(198, 49, 49);
    color: white;
    text-align: center;
}

body{
    background-color: rgb(235, 235, 235);
}

.mi-foto{
    animation: rotation 8s infinite linear;
}

.descripcion{
    text-align: center; 
    font-size: 25px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 20px;
}

.gif-separador{
    width: 100%;
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
}